.gallery-container{
  display: grid;
  grid-template-columns:repeat(3, 1fr) ;
  grid-gap: 8px;
  padding: 8px;
}
.gallery-item{
  display: flex;               // making individual container as flex, to make the image fill container completely
  align-content: center;       // this will make the image fill the flex div completely, and make it centered

  background-color: #000;      // this adds a black background behind each image, so when you hover & image opacity is reduced, the image darkens, instead of whitening
  overflow: hidden;            // this makes sure that any element inside never exceeds the div boundaries . this is useful when we apply the transform:scale(1.1) to child element, and their overflow is hidden
}

.gallery-image{
  cursor: pointer;
  object-fit: cover;              // this will zoom the image, to fill the container**/
  transition: all 500ms ease;    //  makes all transitions like transform or opacity smooth, otherwise they are very abrupt

  &:hover {
    transform: scale(1.1);
    opacity: 0.5;
  }

}

.gallery-detail-item{
  display: flex;               // making individual container as flex, to make the image fill container completely
  align-content: center;       // this will make the image fill the flex div completely, and make it centered
}
.gallery-detail-image{
  object-fit: cover;              // this will zoom the image, to fill the container**/
  width: 100%;
}


.gallery-navigation-btn{
  position: absolute;   //needed to give the buttons absolute position inside the div
  color: #fff;
  font-size: 30px;
  border: 2px #000;
  background-color: rgba(0,0,0,0.5);
}


/** When you have long content, a scrollbar appears by default on most desktop browsers .
    But when you trigger a modal view in page, it triggers the scroll bar to disappear.
    This is caused by this code in bootstrap   .modal-open {overflow: hidden; }
    It's an annoying effect because the background page starts moving when the modal moves in / disappears.
     To override this annoying effect, i use the following code
  **/
.modal-open {
  overflow: scroll !important;
}





/********************** Width Specific Code for Responsiveness *****************/

$breakpoint-min-xs : 000px ; $breakpoint-max-xs : 575px ;
$breakpoint-min-sm : 576px ; $breakpoint-max-sm : 767px ;
$breakpoint-min-md : 768px ; $breakpoint-max-md : 991px ;
$breakpoint-min-lg : 992px ; $breakpoint-max-lg : 1199px ;
$breakpoint-min-xl : 1200px ;



@media only screen and (min-width: $breakpoint-min-xs) and (max-width: $breakpoint-max-xs){
  .gallery-container{
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 4px;
    padding: 4px;
  }
}

@media only screen and (min-width: $breakpoint-min-sm) and (max-width: $breakpoint-max-sm){
  .gallery-container{
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 4px;
    padding: 4px;
  }
}

@media only screen and (min-width: $breakpoint-min-md) and (max-width: $breakpoint-max-md){
  .gallery-container{
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 4px;
    padding: 4px;
  }
}

@media only screen and (min-width: $breakpoint-min-lg) and (max-width: $breakpoint-max-lg){
  .gallery-container{
    grid-template-columns:repeat(3, 1fr) ;
  }
}


@media only screen and (min-width: $breakpoint-min-xl) {
  .gallery-container{
    grid-template-columns:repeat(3, 1fr) ;
  }
}





/* ************************** Browser Specific Code *******************/



/* This code works only on Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

  // There is an error in safari that causes images to stretch beyond their container bounds in flex.  https://stackoverflow.com/questions/57516373
  // So in safari browsers you can't really have full "zoomed-in" gallery images. You are going to have the black bars. No way around it
  // so this is a fix, so that you images are not stretched
  .gallery-item{
    align-items: flex-start;
  }

  .gallery-image{
    align-self: center; //this centers yours black bars, otherwise they appear on bottom
  }

  .gallery-detail-item{
    align-items: flex-start;   //this solves the stretchin problems, no problem of black bar in detail image, since there is no container to fill
  }


}}