.header{
  ul{
    padding-left: 0;
    //margin-left: 5%;
    //margin-right: 5%;
  }
  li{
    display: inline;

    a {
      color: white;
      text-align: center;
      padding: 14px 16px;  // tb rl
      text-decoration: none;
      font-size: 16px;
    }

    a:focus, a:active, a:hover{
      text-decoration: none;
      color: purple ; // #e45f74 ;
      cursor : pointer;
    }
  }
}

.header-light{
  li{
    display: inline;
  }

  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:focus, a:active, a:hover{
    text-decoration: none;
    color: #e45f74 ;
    cursor : pointer;
  }
}

#welcome-text{
  font-size: 150px;
  color: #eee;
  line-height: 1.1;
}





.page-title{

  position: relative;
  padding: 6rem 0 7rem ;  //this sets up the dimensions of the div

  //z-index: 1;
  opacity: 0.9;    // to reduce the opacity of image
  //background: #000 ;
  //padding: 0 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;

}


.page-title:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
  background: #000000ff !important;
}


@media only screen and (max-width: 1500px) {
  .page-title {
    padding: 4rem 0 5rem
  }
}

.page-title.bg-dark {
  background-color: #202225 !important
}

.page-title.page-title-lg {
  padding: 9rem 0
}

@media only screen and (max-width: 1500px) {
  .page-title.page-title-lg {
    padding: 6rem 0
  }
}





$breakpoint-min-xs : 000px ; $breakpoint-max-xs : 575.8px ;
$breakpoint-min-sm : 576px ; $breakpoint-max-sm : 767.8px ;
$breakpoint-min-md : 768px ; $breakpoint-max-md : 991.8px ;
$breakpoint-min-lg : 992px ; $breakpoint-max-lg : 1199.8px ;
$breakpoint-min-xl : 1200px ;


@media only screen and (min-width: $breakpoint-min-xs) and (max-width: $breakpoint-max-xs){
  //this breaks the top navbar in two parts after Sea-Shell heading
  ul {overflow: hidden;}
  li[class='my-list-nav']:nth-child(2):before {display: block; content: '';}

  // makes the navbar list items smaller in size
  .my-list-nav a{
    font-size: 12px !important;
    padding: 10px 10px  !important;

  }
}

@media only screen and (min-width: $breakpoint-min-sm) and (max-width: $breakpoint-max-sm){
  //this breaks the top navbar in two parts after Sea-Shell heading
  ul {overflow: hidden;}
  li[class='my-list-nav']:nth-child(2):before {display: block; content: '';}

  // makes the navbar list items smaller in size
  .my-list-nav a{
    font-size: 14px !important;
    padding: 12px 12px  !important;

  }
}

@media only screen and (min-width: $breakpoint-min-md) and (max-width: $breakpoint-max-md){
  //this breaks the top navbar in two parts after Sea-Shell heading
  ul {overflow: hidden;}
  li[class='my-list-nav']:nth-child(2):before {display: block; content: '';}
}

@media only screen and (min-width: $breakpoint-min-lg) and (max-width: $breakpoint-max-lg){

}


@media only screen and (min-width: $breakpoint-min-xl) {

}






